<div class="container">
<h4>タグリスト</h4>

<% @tag_list.each do |list| %>
  <% if list.posts.count >= 1 %>
    <span>
      <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %>
      <%= "(#{list.posts.count})" %>
    </span>
  <% end %>
<% end %>

<h4 style="margin-top:10px"><%= link_to "お家での投稿" ,home_posts_path %></h4>
  <div class="row">
    <% @home_posts.first(4).each do |post| %>
      <div class="col-md-3">
       <%= render 'post', post: post %>
      </div>
    <% end %>
  </div>

<h4><%= link_to "お店での投稿" ,shop_posts_path %></h4>
  <div class="row">
    <% @shop_posts.first(4).each do |post| %>
      <div class="col-md-3">
    <%= render 'post', post: post %>
      </div>
    <% end %>
  </div>
</div>