<%= form_with model: @post, local:true do |f| %>
<h2>New Post</h2>

<h4>画像</h4>
<%= f.attachment_field :post_image, class: "input" %>
<h4>本文</h4>
<%= f.text_field :text %>

  <div class="col-md-12">
    <%= f.radio_button :place_option, "0", checked: true %>
    <%= f.label :place, "お家" %><br>
  </div>
  <div class="col-md-12">
    <%= f.radio_button :place_option, "1" %>
    <%= f.label :place, "お店" %></br>
  </div>
  
  <div class="new">
    <div class="col-md-12 order-type-c">
      <div class="form-group row">
          <label class="col-sm-3 control-label">住所</label>
          <div class="col-sm-4">
            <%= f.text_field :address, class: "form-control" %>
          </div>
     </div>

<P><%= "" %>
<%= "" %>
<%= f.text_field :tag_name %></P>

<%= f.submit '投稿' %>

<% end %>

<h4>タグリスト</h4>
<% @tag_list.each do |list| %>
<span>
  <%= link_to list.tag_name, tag_posts_path(tag_id: list.id) %>
  <%= "(#{list.posts.count})" %>
</span>
<% end %>

<div class="title">
  <div class="container">
    <h4>投稿一覧</h4>
  </div>
</div>

<div class="container">


    <% @posts.each do |post| %>
        <div class="card" style="width: 18rem;">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= link_to post_path(post.id) do %>
              <%= attachment_image_tag post, :post_image, :fill, 60, 60, class: "post_image", class:"mt-3 rounded-circle" %>

            </figure>
          </div>
            <p class="card-text">
            <%= post.text %>
            <% end %>
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <% if post.favorited_by?(current_user) %>
              <P><%= link_to "♥", post_favorites_path(post), method: :delete %></P>
                <% else %>
              <P><%= link_to "♡", post_favorites_path(post), method: :post %></P>
                <% end %>
              <li class="list-group-item">

              </li>
            </li>
            </ul>
          <% end %>
          </div>
</div>