<div class="container" style="padding:25px">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <% @tag_list.each do |list| %>
        <% if list.posts.count >= 1 %>
          <span>
            <%= link_to list.tag_name, tag_posts_path(post_tag_id: list.id)%>
            <%= "(#{list.posts.count})" %>
          </span>
        <% end %>
      <% end %>

      <%= "タグ『" %><strong><%= "#{@tag.tag_name}" %></strong><%= "』の投稿一覧" %>

        <div class="post-cards">
          <% @posts.each do |post| %>

            <%= render 'post', post: post %>

          <% end %>
        </div>
    </div>
    <div class="col-1"></div>
    </div>
</div>