<div class="container" style="padding:20px">
 <div class="row">
   <div class="col-1"></div>
   <div class="col-5">
  <h4>投稿詳細</h4>

  <div class="shadow-lg card border-secondary" style="height:100%">
    <%= attachment_image_tag @post, :post_image, class: 'card-img-top' %>

    <%= link_to user_path(@post.user.id) do %>
          <%= attachment_image_tag @post.user,:profile_image, size: "30x30", class:"rounded-circle" %> <%= @post.user.name %>
          <% end %>
    <%= render 'favorites/favorite', post: @post %>

    <div class="card-text">
    <%= @post.text %>
    <% if @post.user == current_user %>
      <p><%= link_to "edit", edit_post_path(@post.id) %></p>
      <p><%= link_to "destroy", post_path(@post.id), method: :delete, data: {confirm:'本当に削除しますか？'} %></p>
    <% end %>
    </div>

    <% @post_tags.each do |tag| %>
  <span>
    タグ＃<%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
  </span>
  <% end %>
  </div>

  </div>

  <div class="col-5" style="padding-top:35px">
  <% if @post.spot.address? %>
      <h5>住所：<%= @post.spot.address %></h5>
    <div id="show_map" style="height: 320px; width: 400px;"></div>
  <% end %>

  <h5 style="padding-top:20px">コメント</h5>
  <div class="comment_area">
  <%= render partial: 'comments/comment', locals: {comments: @comments} %>
  </div>
  <div class="comment_form">
  <%= render 'comments/form', post: @post, comment: @comment %>
  </div>
  <div class="col-1"></div>
  </div>
</div>