<h2>投稿詳細</h2>

<h4>画像</h4>
  <%= attachment_image_tag @post, :post_image, class: "post_image" %>

<h4>投稿内容</h4>
  <%= @post.text %>

<% if @post.user == current_user %>
<p><%= link_to "edit", edit_post_path(@post.id) %></p>
<p><%= link_to "destroy", post_path(@post.id), method: :delete, data: {confirm:'本当に削除しますか？'} %></p>
<% end %>

<%= render 'favorites/favorite', post: @post %>

<h4>コメント</h4>

<%= render 'comments/comment', comment: @comments %>

<h4>コメント一覧</h4>
<%= render 'comments/form', post: @post, comment: @comment %>

<h4>タグリスト</h4>
<% @post_tags.each do |tag| %>
<span>
  <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
  <%= "(#{tag.posts.count})" %>
</span>
<% end %>

<h4>Map</h4>

    <%= @post.spot.address %>
  <div id="show_map" style="height: 320px; width: 400px;"></div>